* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #00ffa2;
  --primary-hover: #2ccd6f;
  --shadow-m: rgba(0, 0, 0, 0.1);
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px var(--shadow-m);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

h1 {
  color: var(--primary);
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover);
}

#bookmark-list {
  list-style: none;
  padding: 0;
}

#bookmark-list li {
  background-color: #f9f9f9;
  padding: 10px;
  border: solid 1px #ddd;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookmark-list a {
  color: var(--primary);
  text-decoration: none;
}

#bookmark-list button {
  background-color: #e71313;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#bookmark-list button:hover {
  background-color: #d21010;
}
